<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<parameter name="url" value="https://www.bestbuy.com/"></parameter>
  <test name="Test">
	  <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="test.TC001_RegisterTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
